.login {
  width: 300px;
  margin: 45vmin auto;
}

.linkDisabled,
.linkDisabled:hover {
  opacity: 0.5;
  pointer-events: none;
}

.loginTitle {
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .login {
    width: 100%;
  }
}
